{% extends 'base.html.twig' %}

{% block title %}Specialite{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Specialite</h1>
        {% for message in app.flashes('success') %}
            <div class="class alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for specialite in specialites %}
                <tr>
                    <td>{{ specialite.id }}</td>
                    <td>{{ specialite.designation }}</td>
                    <td>
                        <a href="{{ path('specialite_show', {'id': specialite.id}) }}" class="btn btn-primary">voir</a>
                        <a href="{{ path('specialite_edit', {'id': specialite.id}) }}" class="btn btn-secondary">editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('specialite_new') }}" class="btn btn-dark">Ajouter</a>
    </div>
{% endblock %}
