{% extends 'base.html.twig' %}

{% block title %}Specialite{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Specialite</h1>

        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specialite.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ specialite.designation }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('specialite_index') }}" class="btn btn-primary">Retour à la liste</a>

        <a href="{{ path('specialite_edit', {'id': specialite.id}) }}" class="btn btn-secondary">editer</a>

        {{ include('specialite/_delete_form.html.twig') }}
    </div>
{% endblock %}
