{{ form_start(form) }}
        {{ form_row(form.intitule) }}
        {{ form_row(form.specialite) }}
        {{ form_row(form.type) }}
        {{ form_row(form.duree) }}
        {{ form_row(form.dateDebut)}}
        {{ form_row(form.dateFin) }}
        {{ form_row(form.niveau) }}
        <p>Description</p>
        <div id="editor0"></div>
        <p>Mission</p>
        <div id="editor1"></div>
        <p>PreRequis</p>
        <div id="editor2"></div>
    <button class="btn btn-secondary mt-4 ">{{ button_label|default('Sauvegarder') }}</button>

{{ form_end(form) }}
{% block javascripts %}
        <script src="{{ asset('ckeditor5/ckeditor.js') }}"></script>
        <script src="{{ asset('js/ckeditor.js') }}"></script>
{% endblock %}

