{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
   <div class="container mt-4">
       <h1>Categorie</h1>

       <table class="table table-striped">
           <thead>
           <tr>
               <th>Id</th>
               <th>Designation</th>
               <th>actions</th>
           </tr>
           </thead>
           <tbody>
           {% for categorie in categories %}
               <tr>
                   <td>{{ categorie.id }}</td>
                   <td>{{ categorie.designation }}</td>
                   <td>
                       <a href="{{ path('categorie_show', {'id': categorie.id}) }}" class="btn btn-primary ">voir</a>
                       <a href="{{ path('categorie_edit', {'id': categorie.id}) }}" class="btn btn-secondary">editer</a>
                   </td>
               </tr>
           {% else %}
               <tr>
                   <td colspan="3">no records found</td>
               </tr>
           {% endfor %}
           </tbody>
       </table>

       <a href="{{ path('categorie_new') }}" class="btn btn-dark">Ajouter</a>
   </div>
{% endblock %}
